.c-card {
  background-color: #ffffff;
}

.c-card-border {
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  background-color: #edede9;
}

.c-card-container {
  vertical-align: top;
}

.c-card-container > table {
  width: 90%;
  text-align: center
}

.c-card-content {
  text-align: left;
  vertical-align: top;
}
