.c-image_box-size-2 .c-image_box-container td {
  width: 50%;
}

.c-image_box-size-3 .c-image_box-container td {
  width: 33%;
}

.c-image_box .c-image_box-container .c-image_box-space {
  width: 10px;
}
