body,
.c-layout {
  background-color: #edede9;
}

.c-layout-wrapper {
  max-width: 640px;
  width: 100%;
  text-align: center;
  background-color: #edede9;
}

.c-layout-content {
  text-align: left;
  vertical-align: top;
}
