body,
.c-layout,
.c-layout-wrapper {
  background-color: #edede9;
}

.c-layout-wrapper-body {
  text-align: center;
  vertical-align: top;
}

.c-layout-padding {
  width: 15px;
}

.c-layout-content {
  table-layout: auto;
}

.c-layout-content-body {
  width: 600px;
  text-align: left;
  vertical-align: top;
}
