.c-separator-line {
  height: 1px;
  width: 100%;
  background-color: #edede9;
}

.c-separator-wide .c-card-padding {
  width: 0;
}

.c-separator .c-card-content,
.c-separator .c-card-padding {
  line-height: 0;
  font-size: 0;
}
