.c-space-large  > table > tr .grid-space {
  height: 15px;
  line-height: 15px;
  font-size: 15px;
}

.c-space-small  > table > tr .grid-space {
  height: 5px;
  line-height: 5px;
  font-size: 5px;
}
