<div data-ko-block="apps" class="c-apps">
  {{#> card}}
    <a href="{{config 'app_ios'}}">
      <img src="{{i18n_image_url 'apple_store.svg'}}" alt="apple store" height="43" width="129">
    </a>
    &nbsp;&nbsp;&nbsp;
    <a href="{{config 'app_android'}}">
      <img src="{{i18n_image_url 'play_store.png'}}" alt="play store" height="43">
    </a>
  {{/card}}
</div>
