<div data-ko-block="button">
  {{#> card}}
    <table class="button" border="0">
      <tr>
        <td>
          <table class="button-container" border="0">
            <tr>
              <td>
                <a target="_blank" class="button-block" data-ko-editable="buttonText" data-ko-link="buttonUrl" >
                  Button
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  {{/card}}
</div>
