<table class="grid c-card">
  <tr>
    <td width="20">&nbsp;</td>
    <td class="grid-space">&nbsp;</td>
    <td width="20">&nbsp;</td>
  </tr>
  <tr>
    <td width="20">&nbsp;</td>
    <td class="c-card-content text">
      {{> @partial-block }}
    </td>
    <td width="20">&nbsp;</td>
  </tr>
  <tr>
    <td width="20">&nbsp;</td>
    <td class="grid-space">&nbsp;</td>
    <td width="20">&nbsp;</td>
  </tr>
</table>
