<table class="grid c-card">
  <tr>
    <td class="grid-space">&nbsp;</td>
  </tr>
  <tr>
    <td class="c-card-container">
      <table class="grid">
        <tr>
          <td class="c-card-content text">
            {{> @partial-block }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="grid-space">&nbsp;</td>
  </tr>
</table>
