<table class="grid c-card">
  <tr>
    <td class="c-card-padding">&nbsp;</td>
    <td class="grid-space">&nbsp;</td>
    <td class="c-card-padding">&nbsp;</td>
  </tr>
  <tr>
    <td class="c-card-padding">&nbsp;</td>
    <td class="c-card-content">
      {{> @partial-block }}
    </td>
    <td class="c-card-padding">&nbsp;</td>
  </tr>
  <tr>
    <td class="c-card-padding">&nbsp;</td>
    <td class="grid-space">&nbsp;</td>
    <td class="c-card-padding">&nbsp;</td>
  </tr>
</table>
