<div data-ko-block="header" class="c-header">
  {{#> card}}
    <table class="grid">
      <tr>
        <td class="c-header-logo">
          <img data-ko-display="locale eq 1" src="{{image_url 'logo_mail_de.png'}}" alt="logo" border="0" width="auto" height="44" />
          <img data-ko-display="locale eq 2" src="{{image_url 'logo_mail_fr.png'}}" alt="logo" border="0" width="auto" height="44" />
        </td>
        <td class="c-header-label text">
          <span data-ko-display="locale eq 1">Neues von <a href="https://nebenan.de/">nebenan.de</a></span>
          <span data-ko-display="locale eq 2">Dernières nouvelles de <a href="https://mesvoisins.fr/">mesvoisins.fr</a></span>
        </td>
      </tr>
    </table>
  {{/card}}
</div>
