<div data-ko-block="header" class="c-header">
  {{#> card}}
    <table class="grid">
      <tr>
        <td class="c-header-logo">
          <img src="{{i18n_image_url 'logo.png'}}" alt="logo" border="0" width="auto" height="44" />
        </td>
        <td class="c-header-label text">
          {{{t 'header'}}}
        </td>
      </tr>
    </table>
  {{/card}}
</div>
