<div data-ko-block="image_box_2" class="c-image_box c-image_box-size-2">
  {{#> card}}
    <table class="grid c-image_box-container">
      <tr>
        <td>
          <img
            style="-ko-attr-alt: @firstImage.alt;"
            data-ko-editable="firstImage.src"
            src="{{local_image_url 'image_box_2_placeholder.png'}}"
            height="auto"
            width="100%"
            vspace="0"
            hspace="0"
            border="0"
          >
          <br />
          <div class="text" data-ko-editable="firstText">Optional text</div>
        </td>

        <td class="c-image_box-space">&nbsp;</td>

        <td>
          <img
            style="-ko-attr-alt: @secondImage.alt;"
            data-ko-editable="secondImage.src"
            src="{{local_image_url 'image_box_2_placeholder.png'}}"
            height="auto"
            width="100%"
            vspace="0"
            hspace="0"
            border="0"
          >
          <br />
          <div class="text" data-ko-editable="secondText">Optional text</div>
        </td>
      </tr>
    </table>
  {{/card}}
</div>
