<div data-ko-block="image_box_3" class="c-image_box c-image_box-size-3">
  {{#> card}}
    <table class="grid c-image_box-container">
      <tr>
        <td>
          <img
            style="-ko-attr-alt: @firstImage.alt;"
            data-ko-editable="firstImage.src"
            data-ko-placeholder-height="170"
            data-ko-placeholder-width="170"
            src=""
            height="170"
            width="170"
            vspace="0"
            hspace="0"
            border="0"
          >
          <br />
          <div class="text" data-ko-editable="firstText">Optional text</div>
        </td>

        <td class="c-image_box-space">&nbsp;</td>

        <td>
          <img
            style="-ko-attr-alt: @secondImage.alt;"
            data-ko-editable="secondImage.src"
            data-ko-placeholder-height="170"
            data-ko-placeholder-width="170"
            src=""
            height="170"
            width="170"
            vspace="0"
            hspace="0"
            border="0"
          >
          <br />
          <div class="text" data-ko-editable="secondText">Optional text</div>
        </td>

        <td class="c-image_box-space">&nbsp;</td>

        <td>
          <img
            style="-ko-attr-alt: @thirdImage.alt;"
            data-ko-editable="thirdImage.src"
            data-ko-placeholder-height="170"
            data-ko-placeholder-width="170"
            src=""
            height="170"
            width="170"
            vspace="0"
            hspace="0"
            border="0"
          >
          <br />
          <div class="text" data-ko-editable="thirdText">Optional text</div>
        </td>
      </tr>
    </table>
  {{/card}}
</div>
