<div data-ko-block="image_box" class="c-image_box">
  {{#> card}}
    <img
      style="-ko-attr-height: @height; -ko-attr-alt: @image.alt"
      src="{{image_url 'image_box_placeholder.png'}}"
      height="270"
      width="100%"
      alt=""
      vspace="0"
      hspace="0"
      border="0"
    >
    <br />
    <div class="text" data-ko-editable="text">Optional text</div>
  {{/card}}
</div>
