<div data-ko-block="image_cover_small" class="c-image_cover_small">
  <img
    style="-ko-attr-alt: @image.alt;"
    data-ko-editable="image.src"
    src="{{local_image_url 'image_cover_small_placeholder.png'}}"
    height="auto"
    width="100%"
    vspace="0"
    hspace="0"
    border="0"
  />
</div>
