<div data-ko-block="image_cover" class="c-image_cover">
  <img
    style="-ko-attr-alt: @image.alt;"
    data-ko-editable="image.src"
    data-ko-placeholder-height="200"
    data-ko-placeholder-width="600"
    src=""
    height="200"
    width="600"
    vspace="0"
    hspace="0"
    border="0"
  />
</div>
