<div data-ko-block="image_box" class="c-image_box">
  {{#> card}}
    <img
      style="-ko-attr-alt: @image.alt; -ko-attr-height: @height"
      data-ko-editable="image.src"
      src=""
      height="200"
      width="100%"
      vspace="0"
      hspace="0"
      border="0"
    >
    <br />
    <div class="text" data-ko-editable="text">Optional text</div>
  {{/card}}
</div>
