<div data-ko-block="image_cover" class="c-image_cover">
  <img
    style="-ko-attr-alt: @image.alt"
    src="{{image_url 'image_cover_placeholder.png'}}"
    height="200"
    width="100%"
    alt=""
    vspace="0"
    hspace="0"
    border="0"
  >
</div>
