<center class="c-layout">
  <table class="grid c-layout-wrapper">
    <tr>
      <td>
        <!--[if (gte mso 9)|(IE)]>
        <table class="grid c-container-ms">
          <tr>
            <td>
            <![endif]-->
            <table class="grid c-layout-container">
              <tr>
                <td class="grid-space-medium">&nbsp;</td>
              </tr>
              <tr>
                <td class="c-layout-content">
                  {{> @partial-block }}
                </td>
              </tr>
              <tr>
                <td class="grid-space-medium">&nbsp;</td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
          </tr>
        </table>
        <![endif]-->
      </td>
    </tr>
  </table>
</center>
