<center class="c-layout">
  <table class="grid c-layout-wrapper">
    <tr>
      <td class="c-layout-padding">&nbsp;</td>
      <td class="grid-space">&nbsp;</td>
      <td class="c-layout-padding">&nbsp;</td>
    </tr>
    <tr>
      <td class="c-layout-padding">&nbsp;</td>
      <td class="c-layout-wrapper-body">
        <table class="grid c-layout-content">
          <tr>
            <td>&nbsp;</td>
            <td class="c-layout-content-body text">
              {{> @partial-block }}
            </td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </td>
      <td class="c-layout-padding">&nbsp;</td>
    </tr>
    <tr>
      <td class="c-layout-padding">&nbsp;</td>
      <td class="grid-space">&nbsp;</td>
      <td class="c-layout-padding">&nbsp;</td>
    </tr>
  </table>
  <img style="cantseeshit" src="\{{tracking_url}}" alt="" />
</center>
