<div data-ko-block="meta">
  <table class="grid c-meta">
    <tr>
      <td class="grid-space">&nbsp;</td>
    </tr>
    <tr>
      <td class="c-meta-container">
        <div class="c-meta-text" data-ko-editable="metaText">
          Meta
        </div>
      </td>
    </tr>
    <tr>
      <td class="grid-space">&nbsp;</td>
    </tr>
  </table>
</div>
