<div data-ko-block="social" class="c-social">
  {{#> card}}
    <a href="https://www.facebook.com/nebenan.de">
      <img src="{{image_url 'facebook.png'}}" alt="facebook" height="40" width="40">
    </a>
    &nbsp;&nbsp;
    <a href="https://twitter.com/nebenan_DE">
      <img src="{{image_url 'twitter.png'}}" alt="twitter" height="40" width="40">
    </a>
    &nbsp;&nbsp;
    <a href="https://www.instagram.com/nebenan.de">
      <img src="{{image_url 'instagram.png'}}" alt="instagram" height="40" width="40">
    </a>
  {{/card}}
</div>
