body,
.text {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #757575;
}

.text-success {
  color: #b2ca06;
}

.text-signal {
  color: #ee9e2c;
}

.text-light {
  color: #9c9c9c;
}

.text-white {
  color: #ffffff;
}

.text-dark {
  color: #434343;
}

.text-accent {
  font-size: 15px;
  line-height: 18px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

a {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #799189;
  text-decoration: none;
}

a:hover,
a > h1:hover,
a > h2:hover,
a > h3:hover {
  color: #575757 !important;
}

a > h1,
a > h2,
a > h3 {
  color: #799189;
}

small,
small a {
  font-size: 12px;
  line-height: 14px;
}

h1 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  color: #757575;
}

h2 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #757575;
}

h3 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  text-transform: uppercase;
  color: #757575;
}

.quote {
  font-family: Times, serif;
  font-size: 17px;
  font-style: italic;
  line-height: 20px;
  color: #757575;
}
